.content{
    display: flex;
    justify-content: space-around;
    color:#333;
}

.content .textBox{
    max-width: 600px;
}

.content .textBox h2{
    color:#343434;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span{
    color:#017143;
    font-size: 1.2em;
    font-weight: 900;
}