@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
body {
  background-color: white;
  color: green;
  font-family: "Poppins", sans-serif;
}
.section {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 100px;
    align-content: center;
    .logo {
      max-width: 60px;
    }

    .topNav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      h2 {
        margin-left: 40px;
        color: #333 !important;
        font-weight: 400;
        font-size: 20px;
      }
      img.logo {
        max-width: 80px;
      }
    }
  }

  .content__left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #333;
    max-height: 80vh;

      .textBox {
        max-width: 600px;
        margin-left: 40px;

        a {
          margin-top: 20px;
          padding: 8px 20px;
          background: #017143;
          color: #fff;
          border-radius: 40px;
          font-weight: 500;
          letter-spacing: 1px;
          text-decoration: none;
        }
        h2 {
          color: #333;
          font-size: 4em;
          line-height: 1.4em;
          font-weight: 500;
        }

        h2 span {
          color: #017143;
          font-size: 1.2em;
          font-weight: 900;
        }
      }
      .thumb {
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
        z-index: 3;
        img {
          max-width: 60px;
          margin: 0 20px;
          cursor: pointer;
          transition: 0.5s;
          /*  transform: translateX(-50px); */
        }

        img:hover {
          transform: translateY(-15px);
        }
      }
    
  }
  .content_right {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
    z-index: 2;

    img {
      max-width: 340px;
    }
  }
  .socialBox {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

    img {
      margin: 5px 0;
      filter: invert(1);
      transform: scale(0.6);
    }
  }

  .circle--green {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #017143;
    clip-path: circle(600px at right 800px);
    z-index: 1;
  }
  .circle--pink {
    background-color: #eb7495;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    clip-path: circle(600px at right 800px);
    z-index: 1;
  }
  .circle--pink2 {
    background-color: #d752b1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    clip-path: circle(600px at right 800px);
    z-index: 1;
  }
}

@media (max-width: 991px) {
  .section {
    display: flex;
    //background-color: #d752b1;
    flex-direction: column;
    flex-wrap: wrap;

    .togle {
      background-color: blue;
      position: absolute;
      width: 30px;
      height: 30px;
      left: 0;
      cursor: pointer;
      /* background: url("../src"); */
      background-size: 30px;
      background-position: center;
      background-repeat: no-repeat;
      filter: invert(1);
      background-color: #333;
    }
    .header {
      .topNav {
        h2 {
          display: none;
        }
      }
    }

    .content__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20% 0px;

        .textBox {
          z-index: 999;
          max-width: 100%;
          margin: 0% 15% 0% 15%;
          //background-color: #d79d52;
          h2 {
            font-size: 1.5em;
            margin: 0% 5% 0% 5%;
            z-index: 100;
          }
          p {
          
            z-index: 101;
            font-size: 0.9em;
          }

          a{
            margin: 0% 0% 0% 0%;
          }
        }
        .thumb {
         
          transform: translateX(-50%);
          z-index: 3;
          margin-bottom: -41%;
          img {
            max-width: 40px;
            cursor: pointer;
            transition: 0.5s;
          }
        }
      
    }
    .content_right {
      width: 100%;
      display: flex;
      justify-content: center;
      z-index: 100;
        position: absolute;
        top:383px;
      img {
        max-width: 200px;
      }
    }

    .socialBox {
      background-color: #017143;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      right: 0;
      width: 50px;
    }

    .circle--green {
      position: absolute;
      top: 31%;
      left: 0%;
      background-color: rgb(0, 128, 0, 50%);

      clip-path: circle(300px at center bottom);
    }
    .circle--pink {
        position: absolute;
        top: 31%;
        left: 0%;
      background-color: #eb7495;
      clip-path: circle(300px at center bottom);
    }
    .circle--pink2 {
        position: absolute;
        top: 31%;
        left: 0%;
      background-color: #d79d52;
      clip-path: circle(300px at center bottom);
    }
  }
}
